/* How to best structure CSS? */

.box-input {
    -webkit-appearance: none;
    display: block;
    height: 100%;
    width: 100%;
    color: transparent;
    background-color: transparent;
    border-color: transparent;
    cursor: default;
    outline: 0;
}

/*This is a bad name*/
.big {
    -webkit-appearance: none;
    height: 100%;
    width: 100%;
}

#title {
    font-size: 18pt;
}

.message {
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#winner {
    font-size: 24pt;
}

#game-board {
    margin-left:auto;
    margin-right:auto;
}

#header {
    height: 90px;
}

.square {
    width: 200px;
    height: 200px;
}

.vertical-lines {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.horizontal-lines {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

td {
    font-size: 150px;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}