#game-board {
    margin-left:auto;
    margin-right:auto;
}

.square {
    width: 200px;
    height: 200px;
}

.vertical-lines {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.horizontal-lines {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}