#game-board {
    margin-left:auto;
    margin-right:auto;
}

#error-message {
    height: 50px;
}

.square {
    width: 200px;
    height: 200px;
}

.vertical-lines {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.horizontal-lines {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

td {
    font-size: 150px;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}