<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Tic Tac Toe</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" href="../static/css/tictactoe.css" th:href="@{/css/tictactoe.css}" />
        <script type="text/javascript" src="../static/js/jquery-2.1.0.js" ></script>
        <script type="text/javascript" src="../static/js/tictactoe.js"></script>
    </head>
    <body>
        <div id="header">
            <form id = "move" method="post" action="/">
                <label for="player-move-input">Enter move:</label>
                <input type="text" id="player-move-input" name="player-move-input-name" />
                <button type="submit" id="move-button">Submit</button>
            </form>
            <div id="error-message" th:text="${errors}"></div>
            <div th:if="${turnNumber == 10}" id="play-again-message">Game over. <a href="/" id="play-again-link">Play again?</a></div>
        </div>
        <table id="game-board">
            <tr>
                <td id="box1" class="square" th:text="${box1}">x</td>
                <td id="box2" class="square vertical-lines" th:text="${box2}">o</td>
                <td id="box3" class="square" th:text="${box3}">x</td>
            </tr>

            <tr>
                <td id="box4" class="square horizontal-lines" th:text="${box4}">x</td>
                <td id="box5" class="square horizontal-lines vertical-lines" th:text="${box5}">o</td>
                <td id="box6" class="square horizontal-lines" th:text="${box6}">o</td>
            </tr>

            <tr>
                <td id="box7" class="square" th:text="${box7}">o</td>
                <td id="box8" class="square vertical-lines" th:text="${box8}">x</td>
                <td id="box9" class="square" th:text="${box9}">o</td>
            </tr>

        </table>


    </body>
</html>