<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tic Tac Toe</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="../static/css/tictactoe.css" th:href="@{/css/tictactoe.css}" />
    <script type="text/javascript" src="../static/js/jquery-2.1.0.js" ></script>
    <script type="text/javascript" src="../static/js/tictactoe.js"></script>
</head>
<body>

    <table id="game-board">
        <tr>
            <td class="square"></td>
            <td class="square vertical-lines"></td>
            <td class="square"></td>
        </tr>

        <tr>
            <td class="square horizontal-lines"></td>
            <td class="square horizontal-lines vertical-lines"></td>
            <td class="square horizontal-lines"></td>
        </tr>

        <tr>
            <td class="square"></td>
            <td class="square vertical-lines"></td>
            <td class="square"></td>
        </tr>

    </table>

</body>
</html>